@model FinalProjectITI.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adding_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adding_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stored_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stored_Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Images.Image1)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Category_Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Product_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-warning" asp-action="Index">Back to List</a>
    </form>
</div>
